
.newscards__content {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;

}

.newscards {
  max-width: 1232px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  grid-gap: 16px 16px;
  padding:  0px;
  list-style: none;
}

.newscards__notlogged {
  height: 974px;
}

@media screen and (max-width: 1439px) {
  .newscards{
    grid-template-columns: repeat(2, 400px);
    /* grid-template-columns: repeat(2, auto); */
    grid-template-rows: repeat(3, auto);
    /* max-height: 1500px; */
  }
}
/* .elements__cards {
  margin: 0px auto 68px;
  max-width: 880px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding:  0px;
  list-style: none;
  } */
/*

  @media screen and (max-width: 900px) {
    .elements__cards{
      margin: 0px auto;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(3, auto);
      max-width: 600px;
    }
  }


  @media screen and (max-width: 362px) {
    .elements__cards{
      margin: 0px 19px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
    }
  } */
