
.newscards__content {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.newscards {
  max-width: 1232px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  grid-gap: 16px 16px;
  padding:  0px;
  list-style: none;
}

@media screen and (max-width: 1260px ) {
  .newscards {
    grid-template-columns: repeat(3, 320px);
    grid-gap: 12px;
  }
}

@media screen and (max-width: 1009px ) {
  .newscards {
    grid-template-columns: repeat(2, 360px);
    grid-gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .newscards {
    max-width: 768px ;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, 224px);
  }
}
