.nav {
  width: 100%;
  margin: 0 auto;
  padding-top: 14px;
  padding-bottom: 12px;
  color: white;
}
/* Logged Of */
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height:80px;
  margin: 0;
  padding: 0 104px;
  border-bottom: 1px solid #c4c4c4;
}

.navigation__logo {
  padding-top: 30px;
  padding-bottom: 26px;
}

.navigation__menu {
display: flex;
flex-direction: row;
align-content: center;
margin: 0;
padding: 0;
list-style: none;
}

.navigation__menu-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.navigation__menu-item {
  font-family: "Roboto-Slab", "Arial", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  margin-top: 30px;
  cursor: pointer;
  padding: 0 8px;
}

/* .home {
  width: 70px;
  margin-right: 24px;
  text-align: center;
} */

.navigation__menu-item:visited {
  width: 68px;
  color: #ffffff;
  border-bottom: 3px solid #ffffff ;
}

.navigation__menu-item:active {
  border-bottom: 3px solid #ffffff ;
}

.navigation-menu-item-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 176px;
  height: 48px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  text-decoration: none;
  margin: 19px auto 13px 34px;
}

.navigation-menu-item-button:visited {
  border: 1px solid #ffffff;
}

/*logged in */

.navigation__menu-item_dark {
  font-family: "Roboto-Slab", "Arial", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  text-decoration: none;
  margin-top: 30px;
  /* margin-right: 44px; */
  padding: 0 38px;
  cursor: pointer;
}

/* .navigation__menu-item_home {
  width: 70px;
  margin-right: 34px;
  text-align: center;
} */

/* .navigation__menu-item_dark:nth-child(2) {
  padding: 0 26px;
  width: 178px;
  text-align: center;
} */

.navigation__menu-item_dark:visited {
  color: #1a1b22;
  border-bottom: 3px solid #1a1b22;
}

.navigation__menu-item_dark:active {
  border-bottom: 3px solid #1a1b22;
}

.navigation-menu-item-button_dark {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 176px;
  height: 48px;
  border: 1px solid #1a1b22;
  border-radius: 100px;
  text-decoration: none;
  margin: 19px 0 13px 26px;
  background-image: url('../../images/exitIcon.jpg');
  background-repeat: no-repeat;
  background-position-x:calc(100% - 19px);
  background-position-y: center;
}

.navigation-menu-item-button_dark:visited {
  border: 1px solid #1a1b22;
}
/* .navigation-menu-item-button:active {
  border: 1px solid #1a1b22;
} */

