.header {
  margin: 0;
  padding: 0;
}

/* .header__content {
 padding: 0;
 margin: 0;
 max-width: 1440px;
 height: 576px;
 } */

.header__nologin {
  background-image: url('../../images/georgia-de-lotz.png');
  background-repeat: no-repeat;
  /* background-size: contain; */
  max-width: 1440px;
  height: 576px;
  padding: 0;
  margin: 0;
}

.header__logged_in {
  background-color: #ffffff;
  height: 80px;
}
