.header {
  margin: 0;
  background-image: url('../../images/georgia-de-lotz.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 1440px;
}

.header__content {
 padding: 0;
}

.header__subtitle {
  font-family: "Roboto-Slab", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: black

}
