.main {
  background-color: #ffffff;
  color: #ffffff;
  background-image: url('../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.png');
  font-family: "Inter", "Arial" , sans-serif;
  font-style: normal;
  font-weight: normal;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  position: relative;
}

.main_content {
  max-width: 1440px;
  max-height: 1280px;
  padding: 0px;
  margin: 0 auto;
}
