/* .search-form {
  background-color: #ffffff;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  padding: 0px;
  width: 1440px;
  max-height: 1280px;
  position: relative;
} */

.search-form__content {
  max-width: 1440px;
  padding: 0px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.search-form__content-top {
  margin-top: 0px;
}

.search-form__title {
  font-family: 'Roboto-Slab', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  color: #ffffff;
  width: 608px;
  margin: 80px auto 0;
  padding: 0;
}

.search-form__subtitle {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  width: 608px;
  margin: 32px auto 0;
  /* padding-top: 32px;
  padding-left: 416px; */
  /* margin: 0; */
}

.search-form__form {
  margin: 0;
  padding: 0;
  border: 0;
}
.search-form__form-field {
  display: flex;
  flex-direction: row;
  height: 64px;
  width: 608px;
  margin-top: 88px;
  margin-left: calc((100% - 608px)/2);
  background-color: #ffffff;
  border-radius: 100px;
  border: 1px solid #D1D2D6;
}

.search-form__form-input {
  width: 376px;
  height: 22px;
  margin: 21px 24px;
  padding: 0;
  border: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #B6BCBF;
}

.search-form__form-input:hover {
  color: #1a1b22
}

.search-form__form-input:active {
  color: #1a1b22
}

.search-form__form-submit {
  border: 0;
  margin-left: 16px;
  width: 168px;
  background-color: #2F71E5;
  color: #ffffff;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.search-form__form-submit:hover {
  cursor: pointer;
  background-color: #347eff;
}

.search-form__form-submit:active {
  background-color: #2a65cc ;
}

/*table size*/
@media screen and (max-width: 768px) {
  .search-form__content {
    max-width: 768px;
  }

  .search-form__title {
    margin: 38px 220px 0 163px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    max-width: 385px;
  }

  .search-form__subtitle {
    padding-top: 16px;
    padding-left: 160px;
    width: 452px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .search-form__form-field{
    height: 56px;
    width: 448px;
    margin: 48px 160px;
  }

  .search-form__form-input {
    width: 228px;
    height: 22px;
    margin: 17px 24px;
    font-size: 16px;
    line-height: 22px;
  }

  .search-form__form-submit {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding: 16px 52px;
  }
}

